<!DOCTYPE html>
 <html>
 <head>
 <title>Ruby on Rails Tutorial Sample App |  <%= @title %> </title>
 </head>
 <body>
<h1>This is the About us page of my sample app</h1>
  <p>Hello world! Right SO How many ROR tutorials does it take to build an app?</p>
 </body>
 </html>